body{
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'footer footer footer footer';
    display: flex;
    flex-direction: column;
    margin: 0%;
    grid-template-rows: 550px 50vh 50vh 70vh 20vh;
  }

  nav header section aside footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
