body{
    margin: 0%;
}
nav{
    background-image:url(img/banner.png);
    height: 480px;
    width: 100%;
    background-size: cover;
    border-top: #2ecd71 8.5px solid;
    display: flex;
    justify-content: space-around;
}

#divTexto, #divImagem{
    width: 40%;
    height: 100%;
}

#divImagem{
    display: flex;
    justify-content: center;
}

#divImagem img{
    width: 100%;
}

#divTexto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

#divTexto h1{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 35pt;
    color: #fffffb;
}

#divTexto h1 span{
     color: #2ecd71;
     font-family: 'Pacifico', cursive;
 }
 
 #divTexto p{
     color: #fffffb;
     margin: 0%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16pt;
 }

 #divTexto section{
     height: 40px;
     width: 200px;
     margin-top: 20px;
     justify-content: space-around;
 }

 #divTexto section a{
     height: 40px;
     width: 40px;
     border-radius: 100%;
 }

 #divTexto section a:hover{
     background-color: #2ecd71;
 }

sec

 header{
    background-color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .icone{
    border-radius: 100%;
    background-color: #31cb71;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 }

.geral{
    display: flex;
}
.vo{
    display: flex;
    flex-direction: column;
}
 h2{
     color: #000000;
 }


 section{
    background-color: #e3e3e3;
    grid-area: section;
    display: flex;
    justify-content: center;
 }

section div input{
    border: none;
    border-radius: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    padding: 10px;
    width: 250px;
}

 section div button{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #31cb71;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    width: 100px;
 }
 aside{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;

}

aside div{
    width: 60%;
    justify-items: center;

}

 aside q{
    font-style: italic;
    color: #949494;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

 footer{
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
 }

 footer div{
     justify-content: space-around;
 }

 footer div a{
     text-decoration: none;
     color: #848484;
     cursor: pointer;
     text-align: center;

 }