body{
    margin: 0%;
    padding: 0;
}

nav{
    background-image:url(img/banner.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    border-top: #2ecd71 10px solid;
    display: flex;
    justify-content: space-around;
}

#divTexto, #divImagem{
    width: 45%;
    height: 100%;
}

#divImagem{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#divImagem img{
    width: 350px;
}

#divTexto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

#divTexto h1{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 35pt;
    color: #fffffb;
}

#divTexto h1 span{
     color: #2ecd71;
     font-family: 'Pacifico', cursive;
 }
 
 #divTexto p{
     color: #fffffb;
     margin: 0%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16pt;
 }

 #divTexto section{
     display: flex;
     height: 40px;
     width: 200px;
     margin-top: 20px;
     justify-content: space-around;
 }

 #divTexto section a{
     height: 40px;
     width: 40px;
     border-radius: 100%;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.623);
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #divTexto section a:hover{
     background-color: #2ecd71;
 }

 header{
    background-color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
 }
 
 .icone{
    border-radius: 100%;
    background-color: #31cb71;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 }

.geral{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vo{
    display: flex;
    flex-direction: column;
}
 h2{
     color: #000000;
 }


.video{
    grid-area: section;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    background-color: #e3e3e3;
 }


section div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

section div input{
    border: none;
    border-radius: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    padding: 10px;
    width: 250px;
}

 section div button{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #31cb71;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    width: 100px;
 }
 aside{
    text-align: center;
    display: flex;
    justify-items: center;
}

aside div{
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
}

aside div ul {
    display: flex;
    list-style-type: none;
}

aside div ul li a img{
    display: flex;
    height: 25px;
    width: 25px;
}

.fotinhos{
    justify-content: center;
}
 aside q{
    font-style: italic;
    color: #949494;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

 footer{
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    width: 100%;
    height: 17vh;
 }

 footer div{
    justify-content: space-around;
    background: none; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

 footer div a{
     text-decoration: none;
     color: #848484;
     cursor: pointer;
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }


 ul{
     display: flex;
     list-style-type: none;
 }